name: Arduino IDE Library CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        example:
          - name: actuators
          - name: sensors

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Arduino CLI
        uses: arduino/setup-arduino-cli@v2

      - name: Install platform
        run: |
          arduino-cli config init
          arduino-cli config set board_manager.additional_urls "https://raw.githubusercontent.com/espressif/arduino-esp32/gh-pages/package_esp32_index.json"
          arduino-cli config set library.enable_unsafe_install true
          arduino-cli core update-index
          arduino-cli core install esp32:esp32@3.0.2
          arduino-cli lib install MQTT@2.5.1
          arduino-cli lib install MQTTRemote
          arduino-cli lib install ArduinoJson@7.1.0

      - name: Install repo as library
        run: |
          mkdir -p "$HOME/Arduino/libraries"
          ln -s "$PWD" "$HOME/Arduino/libraries/."

      - name: Compile Sketch
        run: arduino-cli compile --fqbn "esp32:esp32:esp32:PartitionScheme=default_8MB,FlashSize=8M" examples/arduino/${{ matrix.example.name }}